@charset "UTF-8";
* {
  font-family: -apple-system, Ubuntu; }

.columna {
  border: 2px solid #000; }

.margin {
  margin-left: 5px; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 15px;
  background-color: #2673a7;
  height: 90px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 6px;
  color: #fff; }

.jumbotron h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex; }

.boton {
  background-color: #2673a7;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  justify-content: center;
  width: 100%; }

.fila {
  align-items: center; }

.boton:hover {
  background-color: #e0e0e0;
  color: #2673a7; }

footer {
  background-color: #e0e0e0;
  color: #000000;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px; }

.footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin: 5px; }

.r {
  text-decoration: none; }

.f, .t, .i {
  color: #000000; }

.breadcrumb-style {
  background-color: #e0e0e0;
  padding: 10px;
  margin: 10px; }

.enviar {
  margin-top: 15px; }

.card-body {
  text-align: center; }

.card-title {
  font-weight: bold; }

.card {
  border: none; }

.carousel {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 20px; }

.mt25 {
  margin-top: 25px; }

.articulo-titulo {
  font-weight: bold;
  font-size: 25px;
  font-family: Roboto, Ubuntu; }

.btn {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px; }

.btn-i {
  border-radius: 5px 0 0 5px;
  width: 100%;
  margin-right: 0; }

.btn-c {
  border-radius: 0 0 0 0;
  width: 100%;
  margin-left: 0; }

.btn-d {
  border-radius: 0 5px 5px 0;
  width: 100%;
  margin-left: 0; }

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  background-color: #2673a7;
  border-color: #2673a7;
  border: none; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #2673a7;
  color: #ffffff; }

.btn-primary:hover {
  background-color: #e0e0e0;
  color: #2673a7;
  border: none; }

.checkm {
  color: #198754; }

/*haz que se quiten los bordes redondeados de btn-i y btn-d al reducir el tamaño del dispositivo*/
@media (max-width: 575.98px) {
  .btn-i {
    border-radius: 0;
    width: 100%;
    margin-right: 0; }
  .btn-c {
    border-radius: 0;
    width: 100%;
    margin-left: 0; }
  .btn-d {
    border-radius: 0;
    width: 100%;
    margin-left: 0; } }
